.base-content{
    padding: 60px 0;
    .nav-tabs{
        display:none;
        margin-top: 20px;
    }
    .row{
        margin-bottom: 80px;
    }
    @media screen and (min-width: $layout-breakpoint-md){ 
       .row{
            display:flex;
            & > .column{
                &:first-child{
                    width: 840px;
                    min-width: 840px;
                }
            }
       }
       .nav-tabs{
            display:flex;
            position: sticky;
            top: 150px;
            margin-left: 20px;
        }
    }
}